In [ ]:
from datasets import load_dataset
dataset = load_dataset("stsb_multi_mt", "en")

In [2]:
dataset["train"]

Dataset({
    features: ['sentence1', 'sentence2', 'similarity_score'],
    num_rows: 5749
})

In [3]:
dataset["test"]

Dataset({
    features: ['sentence1', 'sentence2', 'similarity_score'],
    num_rows: 1379
})

In [4]:
dataset["dev"]

Dataset({
    features: ['sentence1', 'sentence2', 'similarity_score'],
    num_rows: 1500
})

In [ ]:
# assume that we have already loaded the dataset called "dataset"
for split, data in dataset.items():
    data.to_csv(f"stsb_multi_mt-dataset-{split}.csv", index = None)

In [7]:
import pandas as pd
train = pd.read_csv("PATH/stsb_multi_mt-dataset-train.csv")
train.head()

,sentence1,sentence2,similarity_score
0,A plane is taking off.,An air plane is taking off.,5.00
1,A man is playing a large flute.,A man is playing a flute.,3.80
2,A man is spreading shreded cheese on a pizza.,A man is spreading shredded cheese on an uncoo...,3.80
3,Three men are playing chess.,Two men are playing chess.,2.60
4,A man is playing the cello.,A man seated is playing the cello.,4.25